In [2]:
import datetime
x = datetime.datetime.now()
print(x)

2023-01-24 11:59:39.461856

In [22]:
import datetime #print date and time
x = datetime.datetime.now()
year = x.strftime('%Y')
ye = x.strftime('%y')
print('year: ', year,' ',ye)
mo = x.strftime('%m')
mon = x.strftime('%b')
month = x.strftime('%B')
print('month: ',mo," ",mon," ",month)
d = x.strftime('%d')
din = x.strftime('%a')
Din = x.strftime('%A')
d_num = x.strftime('%w')
print('din: ', d_num)
print('day: ',d," ",din," ",Din)
tam = x.strftime('%H:%M:%S:%f')
print("time: ",tam)
fsd = x.strftime('%c')
print("time: ",fsd)

year:  2023   23
month:  01   Jan   January
din:  2
day:  24   Tue   Tuesday
time:  12:27:42:333696
time:  Tue Jan 24 12:27:42 2023

In [23]:
x = 9 #selection if elif else
if x == 10:
        print("ok")
        
elif x < 10:
        print("less than 10")
else:
    print("greater than 10")

less than 10

In [24]:
x = 12 #nested if
if x == 10:
        print("ok")
        
if x < 10:
        print("less than 10")
else:
    print("greater than 10")

greater than 10

In [27]:
x = 0 #for loop
for x in range(6) :
   
    print(x)
    x += 1
print('finished')

0
1
2
3
4
5
finished

In [28]:
x = 0 #nested loop
y = [1,3,4,5]
for x in range(6):
    for i in y:
        print(x)

0
0
0
0
1
1
1
1
2
2
2
2
3
3
3
3
4
4
4
4
5
5
5
5

In [3]:
x = 0 #while loop
while x < 6:
    print(x)
    x += 1

0
1
2
3
4
5

In [16]:
x = 0  #continue
for x in range(6):
    #print(x)
    x += 1
    if x == 3:
        continue
    print(x)

1
2
4
5
6

In [17]:
x = 0
while x < 10:
    x += 1
    if x == 7:
        break
    print(x)

1
2
3
4
5
6

In [18]:
x = 0
for x in range(6):
    pass
print(x)

5

In [19]:
x = 10
y = 12
print("x==y",x==y)
print('x!=y',x!=y)
print('x>y',x>y)
print('x<y',x<y)
print('x<=y',x<=y)
print('x>=y',x>=y)

x==y False
x!=y True
x>y False
x<y True
x<=y True
x>=y False

In [2]:
x = 4
print(x > 5 and x < 10)
print(x > 5 or x < 10)
print(not(x > 5 and x < 10))

False
True
True

In [3]:
a = 10
b = 4
print(a&b)
print(a | b)
print(~a)
print(a^b)

0
14
-11
14

In [8]:
fname = input("fname")
lname = input('lname')
def my_fun(fname,lname):
    print(fname , lname)
my_fun(fname,lname)

fnameumer
lnamefarooq
umer  farooq

In [10]:
def c_name(country= "norway"): #calling default function
    print('i love my contry',country)
c_name('pakistan') 
c_name('uk')
c_name()

i love my contry pakistan
i love my contry uk
i love my contry norway

In [12]:
def kids_name(*kid):
    print('the youngest kid is',kid[2])
kids_name("umer","hassan","ali")

the youngest kid is ali

IndexError: tuple index out of range

In [4]:
list = ['apple','banana','orange']
def my_list(fruit):
    for x in list:
        print(x)
my_list(fruit)

apple
banana
orange

In [8]:
x = 0
for x in range(6):
    x += 1
    
def my_fun(x):
    return x * 5
my_fun(x)

30

In [9]:
x = lambda a : a+ 10
print(x(5))

15

In [10]:
x = lambda a,b : a*b
print(x(5,6))

30

In [11]:
x = lambda a,b,c: a+b+c
print(x(1,2,3))

6

In [14]:
def my_fun(n):
    return lambda a : a*n
mydoubler = my_fun(2)
mytripler = my_fun(3)
print(mydoubler(11))
print(mytripler(11))

22
33

In [32]:
x = [1,2,3,4]
print("length of list is ",len(x))

try:
    x[5]
except IndexError:
    print("out of range")
print('done')

length of list is  4
out of range
done

In [2]:
a = 10
b = 2
try:
    x = a/b
except:
    print('zero input is invalid')
else:
    print(x)
finally:
    print('thanks')

5.0
thanks

In [12]:
a = 2
for i in range(1,11):
    print(a, '*' , i , "=", a*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [16]:
a = 5
c=1
for i in range(1,a+1):
    c = c*i
print(c)

120

In [2]:
def fact(n):
    if n ==1:
        return 1
    else:
        return n*fact(n-1)
res = fact(5)
print(res)

120

In [5]:
import datetime
a = datetime.datetime.now()
d = a.strftime("%a")
print(d)

Wed

In [20]:
class my_class: #class
    a = 100
    b = 20
    def fun(self):
        print(a+b)
    def fun_2(self):
        print(a-b)
ob=my_class()
print(ob.a)
print(ob.b)

100
20

In [27]:
class factorial:
    def fact(self,a):
        f=1
        for i in range(1,a+1):
            f=f*i
        print("factorial is: ",f)
ob=factorial()
ob.fact(5)

factorial is:  120

In [34]:
class st_rec:  #class oops
    def st_d(self,name,rl,cl):
        print("name of the student: ",name)
        print("roll no: ",rl)
        print("class: ",cl)
    def st_r(self,num,pr,grd):
        print("numbers: ",num)
        print("persentage: ",pr)
        print("grade: ",grd)
ob1=st_rec()
ob2=st_rec()
print("student 1:")
ob1.st_d("umer",999,12)
ob1.st_r(1002,90,"A")

print('student 2:')
ob2.st_d("ali",989,11)
ob1.st_r(900,82,"B")

student 1:
name of the student:  umer
roll no:  999
class:  12
numbers:  1002
persentage:  90
grade:  A
student 2:
name of the student:  ali
roll no:  989
class:  11
numbers:  900
persentage:  82
grade:  B

In [43]:
class st_rec:   #class using self.name
    def st_d(self,name,rl,cls):
        self.name=name
        self.rl=rl
        self.cls=cls
        
    def st_r(self,num,pr,gr):
        self.num=num
        self.pr=pr
        self.gr=gr
    def dis_d(self):
        print("name of the student: ",self.name)
        print("roll no: ",self.rl)
        print("class: ",self.cls)
    def dis_r(self):
        print("numbers: ",self.num)
        print("persentage: ",self.pr)
        print("grade: ",self.gr)
ob=st_rec()
ob.st_d("umer",999,12)
ob.st_r(1002,90,"A")
ob.dis_d()
ob.dis_r()

name of the student:  umer
roll no:  999
class:  12
numbers:  1002
persentage:  90
grade:  A

In [47]:
class st_rec: #class with static variable
    colg_name= "punjab college"
    def st_d(self,name,rl,cls):
        self.name=name
        self.rl=rl
        self.cls=cls
        
    def st_r(self,num,pr,gr):
        self.num=num
        self.pr=pr
        self.gr=gr
    def dis_d(self):
        print("name of the student: ",self.name)
        print("roll no: ",self.rl)
        print("class: ",self.cls)
    def dis_r(self):
        print("numbers: ",self.num)
        print("persentage: ",self.pr)
        print("grade: ",self.gr)
ob=st_rec()
ob.st_d("umer",999,12)
ob.st_r(1002,90,"A")
ob.dis_d()
ob.dis_r()
print(ob.colg_name)

name of the student:  umer
roll no:  999
class:  12
numbers:  1002
persentage:  90
grade:  A
punjab college

In [50]:
class vsp:  #classmethod ans static method
    def a(self):
        print('hi')
    @classmethod
    def b(cls):
        print("hello")
    @staticmethod
    def c():
        print('thanks')
ob=vsp()
ob.a()
vsp.b()
ob.b()
vsp.c()
ob.c()

hi
hello
hello
thanks
thanks

In [70]:
class Cons:    #__init__
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def show(self):
        print(self.x)
        print(self.y)
        
ob = Cons(60,780)
ob.show()

60
780

In [73]:
class num: #simple class
    x= 5
p1=num()
p1.x

5

In [75]:
class person: #class with init
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1=person('umer',24)
print(p1.name)
print(p1.age)

umer
24

In [77]:
class person: #class with saving value
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def myname(self):
        print('my name is ',self.name)
p1=person("umer",24)
p1.myname()

my name is  umer

In [79]:
class person: #class with modifing object properties
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def myname(self):
        print('my name is ',self.name)
    def myage(self):
        print("my age is ",self.age)
p1=person("umer",24)
p1.age=30
p1.myage()

my age is  30

In [82]:
class person: #class with deleting object properties
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def myname(self):
        print('my name is ',self.name)
    def myage(self):
        print("my age is ",self.age)
p1=person("umer",24)
del p1.age
p1.myname()
p1.myage()

my name is  umer

AttributeError: 'person' object has no attribute 'age'

In [83]:
class person: #class with deleting object 
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def myname(self):
        print('my name is ',self.name)
    def myage(self):
        print("my age is ",self.age)
p1=person("umer",24)
del p1
p1.myname()
p1.myage()

NameError: name 'p1' is not defined

In [85]:
class fruit:  #class example
    def __init__(self,name,nutr):
        try:
            assert type(nutr) == list
        except AssertionError:
            print('invalid contruction')
            raise Exception 
        self.name=name
        self.nutr=nutr
        self.is_ripe = False
    def get_name(self):
        print('this is ',self.name)
    def get_nutr(self):
        print(self.name,'has following nutrients:')
        for value in self.nutr:
            print(value)
    def chk_ripness(self):
        return self.is_ripe
ob1=fruit('apple',['vitaminC','vitaminD','vitaminA'])
ob1.get_name()
ob1.get_nutr()

this is  apple
apple has following nutrients:
vitaminC
vitaminD
vitaminA

In [87]:
class person:   #inheritance parent class
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
    def myname(self):
        print(self.fname,self.lname)
ob=person('umer','farooq')
ob.myname()

umer farooq

In [88]:
class person:   #inheritance creating child class
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
    def myname(self):
        print(self.fname,self.lname)
class son:
    pass
ob=person('umer','farooq')
ob.myname()

umer farooq

In [93]:
class person:   #inheritance creating child class adding properties
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
    def myname(self):
        print(self.fname,self.lname)
class son(person):
    def __init__(self,fname,lname):
        person.__init__(self,fname,lname)
        self.graduationyear = 2020
        
    
    
    
ob=son('umer','farooq')
ob.myname()
print(ob.graduationyear)

umer farooq
2020

In [96]:
class person:   #inheritance creating child class adding method
    def __init__(self,fname,lname):
        self.fname=fname
        self.lname=lname
    def myname(self):
        print(self.fname,self.lname)
class son(person):
    def __init__(self,fname,lname):
        person.__init__(self,fname,lname)
        self.graduationyear = 2020
    def welcom(self):
        print('welcom ',self.fname,self.lname,'to the class of',self.graduationyear)
    
    
    
ob=son('umer','farooq')
ob.myname()
print(ob.graduationyear)
ob.welcom()

umer farooq
2020
welcom  umer farooq to the class of 2020

In [101]:
class fruit: #example class
    def __init__(self,name,nutr):
        try:
            assert type(nutr) == list
        except AssertionError:
            print('invalid nutrients .please add list')
            raise Exception
        self.name=name
        self.nutr=nutr
        self.is_ripe= False
    def getname(self):
        print('this is',self.name)
    def getnutr(self):
        print(self.name,'has following nutrients')
        for value in self.nutr:
            print(value)
    def chkripnes(self):
        return self.is_ripe
    def ripe_fruit(self):
        self.is_ripe= True
class        
ob=fruit('orange',['vitaminC','vitaminA'])
ob.getnutr()

orange has following nutrients
vitaminC
vitaminA

In [2]:
x = open('file.txt','r') #readfile
y = x.read()
print(y)
x.close()

my name is umer farooq.
i'm a data scientist.
i completed my graduation from UET lahore in 2022.
i'm from pakistan.

In [3]:
x = open('file.txt','r') #read character
print(x.read(1))
x.close()

m

In [8]:
x = open('file.txt','r') #read line
print(x.readline())
x.close()

my name is umer farooq.

In [9]:
x = open('file.txt','r') #readline using loop
for i in range(1,4):
    print(x.readline())
x.close()

my name is umer farooq.

i'm a data scientist.

i completed my graduation from UET lahore in 2022.

In [1]:
import csv
with open("xyz.csv","w") as x:
    file=csv.writer(x)
    file.writerow([1122,'rescue'])
    file.writerow([15,'police'])
    x.close()

In [6]:
import csv     #write csv file
with open('abc.csv','w') as x:
    file=csv.writer(x)
    for i in range(1,3):
        name= input('name:')
        city=input('city:')
        file.writerow([name,city])
    x.close()

PermissionError: [Errno 13] Permission denied: 'abc.csv'

In [7]:
import csv        #read csv file
with open('abc.csv','r') as x:
    file=csv.reader(x)
    for i in file:
        print(i)
    x.close()

['umer', 'fsd']
[]
['ali', 'lhr']
[]

In [8]:
x = open('pqr.txt','w') #write txt file
x.write('i am umer')
x.close()

In [11]:
x=open('pqr.txt','a') #add txt in txt file
x.write('i am from pakistan')
x.write('i love traveling')
x.close()

SyntaxError: unexpected character after line continuation character (2280346029.py, line 2)

In [13]:
x = open('file.txt','r') #read and write txt file
y= open('pqr.txt','w')
y.write(x.read())
x.close()
y.close()

In [18]:
import pickle    #write txt in binary file
x = open('zzz.dat','wb')
dic = {}
a = int(input('enter limit'))
for i in range(1,a+1):
    data = input("data:")
    value = input('value:')
    dic[data]=value
pickle.dump(dic,x)
x.close()

enter limit3
data:name
value:umer
data:age
value:23
data:city
value:fsd

In [19]:
import pickle   #read binary
x=open('zzz.dat','rb')
y = pickle.load(x)
print(y)
x.close()

{'name': 'umer', 'age': '23', 'city': 'fsd'}

In [22]:
import os
if os.path.exists('xyz.txt'):
    os.remove('xyz.txt')
else:
    print('file does not exits')

file does not exits

In [32]:
import csv   #example csv write
with open('studentdata.csv','w') as x:
    file=csv.writer(x)
    can = int(input('number of sudents to enroll'))
    for i in range(1,can+1):
        name = input('name')
        roll_num= input('roll no.')
        classs = input('class')
        file.writerow([name,roll_num,classs])
        
    x.close()
print('done registation')

number of sudents to enroll1
nameumer
roll no.12
class12
done registation

In [1]:
import os
os.mkdir('c:\\tempdir')

In [2]:
import os
os.getcwd()

'C:\\Users\\malik bros\\Documents\\practice'

In [10]:
import os  #directory
#os.chdir('c:\\tempdir')
#os.rmdir('c:\\tempdir')

In [5]:
import subprocess  #subprocess call
print(subprocess.call(['dir'],shell=True))

0

In [6]:
import subprocess  #subprocess check_output
print(subprocess.check_output(['dir'],shell=True))

b' Volume in drive C has no label.\r\n Volume Serial Number is AA6C-8647\r\n\r\n Directory of c:\\tempdir\r\n\r\n01/27/2023  06:10 PM    <DIR>          .\r\n01/27/2023  06:10 PM    <DIR>          ..\r\n               0 File(s)              0 bytes\r\n               2 Dir(s)  13,998,321,664 bytes free\r\n'

In [13]:
import csv
file = 'c:\\ostempdir\studentdata.csv'
reader = csv.reader(open(file,'r'))
for row in file:
    print(row)

FileNotFoundError: [Errno 2] No such file or directory: 'c:\\ostempdir\\studentdata.csv'

In [17]:
import os
print(os.path.isfile('studentdata.csv'))

False

In [12]:
import os
print(os.getcwd())

c:\tempdir

In [14]:
import os
print(os.chdir('c:\\'))

None

In [19]:
import os
print(os.listdir("c:\\"))

['$Recycle.Bin', '$WinREAgent', 'Boot', 'bootmgr', 'BOOTNXT', 'BOOTSECT.BAK', 'bootTel.dat', 'Documents and Settings', 'DumpStack.log', 'DumpStack.log.tmp', 'hiberfil.sys', 'HP Universal Print Driver', 'OneDriveTemp', 'pagefile.sys', 'Program Files', 'Program Files (x86)', 'ProgramData', 'Recovery', 'swapfile.sys', 'System Volume Information', 'temp1dir', 'tempdir', 'Users', 'Windows']

In [20]:
import os
print(os.getcwd())

c:\

In [21]:
import os
print(os.chdir('tempdir'))

None

In [22]:
import os
print(os.getcwd())

c:\tempdir

In [23]:
import os
print(os.path.isfile('studentdata.csv'))

True

In [24]:
import csv
file = 'c\\tempdir\stedentdata.csv'
with open('studentdata.csv','r') as x:
    reader=csv.reader(x)
    for i in reader:
        print(i)

['umer', '12', '12']
[]

In [42]:
from threading import Thread   #threading

def get_cube(num):
    cube = num*num*num
    print('cube:',cube)
def get_inverse(num):
    inverse = 1/num
    print('inverted:',inverse)
t1 = Thread(target=get_cube,args=(10,))
t2 = Thread(target=get_inverse,args=(10,))
t1.start()
t2.start()
t1.join()
t2.join()
print('done')

cube: 1000
inverted: 0.1
done

In [43]:
import requests #requet module
x = requests.get('http://github.com')
print(x)
print(x.status_code)

<Response [200]>
200

In [45]:
import requests #requests modules
x = requests.get('http://api.github.com/users/sana-rasheed')
print(x)
print(x.status_code)
data = x.json()
print('followering:',data['following'])
print('followers:',data['followers'])

<Response [200]>
200
followering: 1
followers: 538

In [46]:
import requests
x = requests.head('http://api.github.com/users/sana-rasheed')
print(x)

<Response [301]>

In [57]:
import requests #request module
url = 'https://official-joke-api.appspot.com/jokes/programming/random'
x = requests.get(url)
data = x.json()[0]
for i in data:
    print(i,':',data[i])

type : programming
setup : Why do C# and Java developers keep breaking their keyboards?
punchline : Because they use a strongly typed language.
id : 74

In [60]:
import requests
myobj = {'ali': 56 ,'ahmad':87,'amna':76}
r = requests.post('http://httpbin.org/post', data=myobj)

data = r.json()
d = data['form']
print(d)

{'ahmad': '87', 'ali': '56', 'amna': '76'}

In [75]:
import json   #json to read and write java program 
#loads and dumps #java string object notation
data = {"umer":34,"ali":33,"usman":55}

parsed = json.dumps(data)
print(parsed)

{"umer": 34, "ali": 33, "usman": 55}

In [4]:
import sqlite3   #sqlite make database
connection = sqlite3.connect('SQlite_python.db')
cursor = connection.cursor()
cursor.close()

In [20]:
import sqlite3
try:
    sqliteconnection = sqlite3.connect('SQlie_python.db')
    cur = sqliteconnection.cursor()
    print('Database created and connected to sqlite3')
    sqlite_query = 'select sqlite_version();'
    cur.execute(sqlite_query)
    record = cur.fetchall()
    print('SQlite databse version is: ',record)
    cur.close()
except sqlite3.Error as error:
    print('Error while connecting to sqlite',error)
finally:
    if(sqliteconnection):
        sqliteconnection.close()
        print('The SQlite connection is close')

Database created and connected to sqlite3
SQlite databse version is:  [('3.39.3',)]
The SQlite connection is close

In [21]:
import sqlite3  #sqlite table create
try:
    sqliteconnection = sqlite3.connect('Sqlite_python.db')
    cur = sqliteconnection.cursor()
    print('database is created and connected to SQlite')
    create_table_query = '''CREATE TABLE 
    sqlitedb_developers (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT NOT NULL UNIQUE,
    joining_date datetime,
    salary REAL NOT NULL);
    '''
    cur.execute(create_table_query)
    sqliteconnection.commit()
    print('SQlite table created')
    cur.close()
except sqlite3.Error as error:
    print('An error while creating connetion ')
finally:
    if(sqliteconnection):
        sqliteconnection.close()
        print('SQlite connection is close')

database is created and connected to SQlite
SQlite table created
SQlite connection is close

In [22]:
import os
os.getcwd()

'C:\\Users\\malik bros\\Documents\\practice'

In [74]:
import sqlite3    #sqlite table create
try:
    conn = sqlite3.connect('data.db')
    print('Database create and connected to sqlite')
    cur = conn.cursor()
    create_table_query ='''CREATE TABLE
    clintsss_data (id INTEGER PRIMARY KEY ,
    name TEXT NOT NULL,
    age INTEGER NOT NULL,
    adress CHAR(50),
    payment REAL NOT NULL);'''
    cur.execute(create_table_query)
    conn.commit()
    print('SQlite table created')
    cur.close()
except sqlite3.Error as error:
    print('error while connection to sqlite')
finally:
    if(conn):
        print('done')
        conn.close()

Database create and connected to sqlite
SQlite table created
done

In [75]:
import sqlite3   #insert data in table sqlite 
try:
    sqliteconnection = sqlite3.connect('data.db')
    cur = sqliteconnection.cursor()
    print('Connected to SQlite')
    cur.execute("INSERT INTO clintsss_data (id,name,age,adress,payment)\n VALUES(1,'umer',23,'faisalabad',120000.0)");
    cur.execute("INSERT INTO clintsss_data (id,name,age,adress,payment)\n VALUES(2,'ali',24,'lahore',12000.0)");
    cur.execute("INSERT INTO clintsss_data (id,name,age,adress,payment)\n VALUES(3,'umair',25,'karachi',10000.0)");
    cur.execute("INSERT INTO clintsss_data (id,name,age,adress,payment)\n VALUES(4,'hamza',45,'islambad',20000.0)");
    sqliteconnection.commit()
    print('Data is uploaded')
    cur.close()
except sqlite3.Error as error:
    print('Error while connection')
finally:
    if(sqliteconnection):
        print('Done uploading data')
        sqliteconnection.close()

Connected to SQlite
Data is uploaded
Done uploading data

In [77]:
import sqlite3    #select data from database sqlite
sqliteconnect = sqlite3.connect('data.db')
print('Databse connected to SQlite')
cur =sqliteconnect.execute('SELECT id,name,age,adress,payment FROM clintsss_data')
for row in cur:
    print('ID:',row[0])
    print('NAME:',row[1])
    print('AGE:',row[2])
    print('ADRESS:',row[3])
    print('PAYMENT:',row[4],"\n")
print('DONE') 
sqliteconnect.commit()
sqliteconnect.close()

Databse connected to SQlite
ID: 1
NAME: umer
AGE: 23
ADRESS: faisalabad
PAYMENT: 120000.0

ID: 2
NAME: ali
AGE: 24
ADRESS: lahore
PAYMENT: 12000.0

ID: 3
NAME: umair
AGE: 25
ADRESS: karachi
PAYMENT: 10000.0

ID: 4
NAME: hamza
AGE: 45
ADRESS: islambad
PAYMENT: 20000.0

DONE

In [82]:
import sqlite3
conn = sqlite3.connect('data.db')
print('Connected to SQlite')
conn.execute('UPDATE clintsss_data set payment = 29000 where id=1')
conn.commit()
print('Number of rows changed:',conn.total_changes)
cur = conn.execute('SELECT id,name,age,adress,payment FROM clintsss_data')
for i in cur:
    print('ID:',i[0])
    print('NAME:',i[1])
    print('AGE:',i[2])
    print('ADRESS:',i[3])
    print('PAYMENT:',i[4],'\n')
print('done')
conn.close()

Connected to SQlite
Number of rows changed: 1
ID: 1
NAME: umer
AGE: 23
ADRESS: faisalabad
PAYMENT: 29000.0

ID: 2
NAME: ali
AGE: 24
ADRESS: lahore
PAYMENT: 12000.0

ID: 3
NAME: umair
AGE: 25
ADRESS: karachi
PAYMENT: 10000.0

ID: 4
NAME: hamza
AGE: 45
ADRESS: islambad
PAYMENT: 20000.0

done

In [85]:
import sqlite3
conn = sqlite3.connect('data.db')
print('Connected to SQlite')
conn.execute('DELETE FROM clintsss_data where ID=3')
print('DONE')
print('Number of changes:',conn.total_changes)
cur=conn.execute('SELECT id,name,age,adress,payment FROM clintsss_data')
for i in cur:
    print('ID:',i[0])
    print('NAME:',i[1])
    print('AGE:',i[2])
    print('ADRESS:',i[3])
    print('PAYMENT:',i[4],'\n')
print('done')
conn.close()

Connected to SQlite
DONE
Number of changes: 1
ID: 1
NAME: umer
AGE: 23
ADRESS: faisalabad
PAYMENT: 29000.0

ID: 2
NAME: ali
AGE: 24
ADRESS: lahore
PAYMENT: 12000.0

ID: 4
NAME: hamza
AGE: 45
ADRESS: islambad
PAYMENT: 20000.0

done

In [4]:
import sqlite3   #example sqlite
conn= sqlite3.connect('databases.db')
print('Database created and connected to SQlite')
cur = conn.cursor()
create_table_query = '''
CREATE TABLE students (
id INTEGER PRIMARY KEY,
name TEXT NOT NULL,
GPA REAL NOT NULL,
adress CHAR(30),
admission_date NOT NULL );'''
cur.execute(create_table_query)
print('Table created')
cur.close()
print('DONE')
conn.close()

Database created and connected to SQlite
Table created
DONE

In [7]:
import sqlite3
conn=sqlite3.connect('databases.db')
print('Connected to SQlite')
conn.execute('INSERT INTO students (id,name,GPA,adress,admission_date) \n  VALUES(1,"Umer",3.34,"Faisalabad","20-6-2016");')
conn.execute('INSERT INTO students (id,name,GPA,adress,admission_date) \n  VALUES(2,"Ali",3.4,"Lahore","20-6-2016");')
conn.execute('INSERT INTO students (id,name,GPA,adress,admission_date) \n  VALUES(3,"Usman",2.34,"Karachi","20-6-2016");')
conn.execute('INSERT INTO students (id,name,GPA,adress,admission_date) \n  VALUES(4,"Hamza",3.04,"Multan","20-6-2016");')
conn.commit()
print('Data inserted')
print('DONE')
conn.close()

Connected to SQlite
Data inserted
DONE

In [10]:
import sqlite3
conn=sqlite3.connect('databases.db')
print('Connected to SQlite3')
cur=conn.execute('SELECT id,name,GPA,adress,admission_date FROM students')
for i in cur:
    print('ID:',i[0])
    print('NAME:',i[1])
    print('GPA:',i[2])
    print('ADRESS:',i[3])
    print('ADMISSION DATE:',i[4],'\n')
conn.commit()
print('DONE')
conn.close()

Connected to SQlite3
ID: 1
NAME: Umer
GPA: 3.34
ADRESS: Faisalabad
ADMISSION DATE: 20-6-2016

ID: 2
NAME: Ali
GPA: 3.4
ADRESS: Lahore
ADMISSION DATE: 20-6-2016

ID: 3
NAME: Usman
GPA: 2.34
ADRESS: Karachi
ADMISSION DATE: 20-6-2016

ID: 4
NAME: Hamza
GPA: 3.04
ADRESS: Multan
ADMISSION DATE: 20-6-2016

DONE

In [16]:
import unittest #testing

class learntest(unittest.TestCase):
    def test_n1(self):
        print('done')

if __name__ == "__main__":
    unittest.main()

E
======================================================================
ERROR: C:\Users\malik bros\AppData\Roaming\jupyter\runtime\kernel-a31297e5-c4af-49d2-9afb-395b371b6673 (unittest.loader._FailedTest)
----------------------------------------------------------------------
AttributeError: module '__main__' has no attribute 'C:\Users\malik bros\AppData\Roaming\jupyter\runtime\kernel-a31297e5-c4af-49d2-9afb-395b371b6673'

----------------------------------------------------------------------
Ran 1 test in 0.002s

FAILED (errors=1)

SystemExit: True

C:\Users\malik bros\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3465: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [18]:
#sum test
import unittest
def sun(a,b):
    return a+b
class sumtest(unittest.TestCase):

    def setup(self,a,b):
        print('setup called...')
        self.a = int(input('input a'))
        self.b = int(input('input b'))
    def test_sumfun1(self):
        print('Test-1 called')
        #act
        result = sum(self.a,self.b)
        #assert
        self.assertEqual(result,self.a+self.b)
    
        
        
if __name__=='__main__':
    unittest.main()

E
======================================================================
ERROR: C:\Users\malik bros\AppData\Roaming\jupyter\runtime\kernel-a31297e5-c4af-49d2-9afb-395b371b6673 (unittest.loader._FailedTest)
----------------------------------------------------------------------
AttributeError: module '__main__' has no attribute 'C:\Users\malik bros\AppData\Roaming\jupyter\runtime\kernel-a31297e5-c4af-49d2-9afb-395b371b6673'

----------------------------------------------------------------------
Ran 1 test in 0.001s

FAILED (errors=1)

SystemExit: True

C:\Users\malik bros\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3465: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

import unittest

def sum(a,b):
    return a+b

class sumtest(unittest.TestCase):
       
   def setUp(self):
      # self.a = 10
       #self.b = 20
       self.a = int(input('input a: '))
       self.b = int(input('input b: '))
    
    
   def test_sumfun_1(self):

      result = sum(self.a,self.b)
      self.assertEqual(result,self.a+self.b)
      
   def test_sumfun_2(self):

      result = sum(self.b,self.a)
      self.assertEqual(result,self.a+self.b) 
        
   
      print('done')
if __name__=='__main__':
    unittest.main()

In [21]:
import unittest

def sum(a,b):
    return a+b

class sumtest(unittest.TestCase):
       
    def setUp(self):
      
        self.a = int(input('input a: '))
        self.b = int(input('input b: '))
    
    
    def test_sumfun_1(self):

        result = sum(self.a,self.b)
        self.assertEqual(result,self.a+self.b)
      
    def test_sumfun_2(self):

        result = sum(self.b,self.a)
        self.assertEqual(result,self.a+self.b) 
        
   
        print('done')
if __name__=='__main__':
    unittest.main()

E
======================================================================
ERROR: C:\Users\malik bros\AppData\Roaming\jupyter\runtime\kernel-a31297e5-c4af-49d2-9afb-395b371b6673 (unittest.loader._FailedTest)
----------------------------------------------------------------------
AttributeError: module '__main__' has no attribute 'C:\Users\malik bros\AppData\Roaming\jupyter\runtime\kernel-a31297e5-c4af-49d2-9afb-395b371b6673'

----------------------------------------------------------------------
Ran 1 test in 0.023s

FAILED (errors=1)

SystemExit: True

C:\Users\malik bros\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3465: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [23]:
import pdb
def sum(a,b):
    return a+b
def test_fun():
    pdb.set_trace()
    print('This is first line')
    print('This is second line')
    value = sum(2,3)
    return value
test_fun()

> c:\users\malik bros\appdata\local\temp\ipykernel_12988\4323303.py(6)test_fun()

ipdb> n
This is first line
> c:\users\malik bros\appdata\local\temp\ipykernel_12988\4323303.py(7)test_fun()

ipdb> n
This is second line
> c:\users\malik bros\appdata\local\temp\ipykernel_12988\4323303.py(8)test_fun()

ipdb> s
--Call--
> c:\users\malik bros\appdata\local\temp\ipykernel_12988\4323303.py(2)sum()

ipdb> s
> c:\users\malik bros\appdata\local\temp\ipykernel_12988\4323303.py(3)sum()

ipdb> s
--Return--
5
> c:\users\malik bros\appdata\local\temp\ipykernel_12988\4323303.py(3)sum()

ipdb> s
> c:\users\malik bros\appdata\local\temp\ipykernel_12988\4323303.py(9)test_fun()

ipdb> n
--Return--
5
> c:\users\malik bros\appdata\local\temp\ipykernel_12988\4323303.py(9)test_fun()

ipdb> n
--Call--
> c:\users\malik bros\anaconda3\lib\site-packages\ipython\core\displayhook.py(252)__call__()
    250         sys.stdout.flush()
    251
--> 252     def __call__(self, result=None):
    253         """Printing with history cache management.
    254

--KeyboardInterrupt--

KeyboardInterrupt: Interrupted by user

5

In [31]:
import configparser
#import os
#print(os.chdir('c:\\.spyder-3py'))

config = configparser.ConfigParser()
config.read('C:\Users\malik bros\Documents\practice\spyder.ini')
config.sections()
print( config.sections() )

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3164696879.py, line 6)

In [29]:
import configparser
config = configparser.ConfigParser()
# give the correct path of spyder.ini file
config.read("C:\\Users\sana.rasheed\.spyder-py3\config\spyder.ini") #("C:\\Users\.spyder-py3\spyder.ini") 
config.sections()
print( config.sections() )

[]

In [30]:
import os
print(os.getcwd())

C:\Users\malik bros\Documents\practice

In [36]:
import array  #array
stu_roll = array.array("i",[1,2,3,4,5])
for n in stu_roll:
    print(n)

1
2
3
4
5

In [37]:
#array
from array import*
stu_roll = array('i',[1,2,3,4,5])
for n in stu_roll:
    print(n)

1
2
3
4
5